<!-- ========== HEADER ========== -->
<div class="container-fluid d-flex flex-row justify-content-between align-items-center m-0 bg-black text-white">
    <span>TI Backoffice</span>
    <nav class="admin-navbar-top d-flex flex-row">
        <div class="dropdown dropdown-admin">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lister
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('admin_worker_index') }}">Les freelances</a></li>
                <li><a class="dropdown-item" href="{{ path('admin_activity_index') }}">Les activités</a></li>
                <li><a class="dropdown-item" href="{{ path('admin_job_index') }}">Les métiers</a></li>
                <li><a class="dropdown-item" href="#">Les villes</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-admin">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajouter
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('admin_worker_new') }}">Un freelance</a></li>
                <li><a class="dropdown-item" href="{{ path('admin_activity_new') }}">Une activité</a></li>
                <li><a class="dropdown-item" href="{{ path('admin_job_new') }}">Un métier</a></li>
                <li><a class="dropdown-item" href="#">Une ville</a></li>
            </ul>
        </div>
    </nav>
</div>
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-light">

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="{{ path('homepage') }}" aria-label="Front">
        <img class="navbar-brand-logo" src="/img/logo-travailleur-independant.png" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('freelance_index') }}">Freelances</a>
          </li>

          <!-- Dropdown -->
          <li class="hs-has-sub-menu nav-item">
            <a id="activitiesDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Activités</a>
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="activitiesDropdown" style="min-width: 14rem;">
              <a class="dropdown-item" href="#">Listing</a>
              <a class="dropdown-item" href="#">Listing (Grid)</a>
            </div>
          </li>
          <!-- End Dropdown -->

          <!-- Dropdown -->
          <li class="hs-has-sub-menu nav-item">
            <a id="pagesDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="activitiesDropdown" style="min-width: 14rem;">
              <a class="dropdown-item" href="#">Job Overview</a>
              <a class="dropdown-item" href="#">Apply for Job</a>
              <a class="dropdown-item" href="#">Employee (Applicant)</a>
              <a class="dropdown-item" href="#">Employer (Company)</a>
            </div>
          </li>
          <!-- End Dropdown -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
<!-- ========== END HEADER ========== -->
