<li class="hs-has-sub-menu nav-item">
  <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Activités</a>
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
    {% for activity in activities %}
      <a class="dropdown-item" href="{{ path('activity_show', {'slug': activity.slug}) }}">{{ activity.name }}</a>
    {% endfor %}
  </div>
</li>
