<!-- ========== FOOTER ========== -->
<footer class="border-top">
  <div class="container">
    <div class="row justify-content-lg-between content-space-t-2">
      <div class="col-lg-3 mb-5">
        <div class="d-flex align-items-start flex-column h-100">
          <!-- Logo -->
          <a class="w-100 mb-3 mb-lg-auto" href="{{ path('homepage') }}" aria-label="Front">
            <img class="brand" src="/img/logo-travailleur-independant.png">
          </a>
          <!-- End Logo -->

          <p class="text-muted small mb-0">© keblo.dev 2023</p>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 ms-lg-auto mb-5 mb-lg-0">
        <h5>Account</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm text-secondary" href="#">Placing an order</a></li>
          <li><a class="link-sm text-secondary" href="#">Shipping options</a></li>
          <li><a class="link-sm text-secondary" href="#">Tracking a package</a></li>
          <li><a class="link-sm text-secondary" href="#">Country availability</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
        <h5>Company</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm text-secondary" href="#">Financing</a></li>
          <li><a class="link-sm text-secondary" href="#">Recycling</a></li>
          <li><a class="link-sm text-secondary" href="#">Return policy</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
        <h5 class="mb-3">Resources</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> Assistance</a></li>
          <li><a class="link-sm link-secondary" href="{{ path('account') }}"><i class="bi-person-circle me-1"></i> Mon compte</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    <div class="row align-items-sm-center content-space-1">
      <div class="col-sm mb-4 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-warning text-white btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-danger btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-instagram"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-primary btn-xs btn-icon rounded-circle" href="#">
              <i class="bi-linkedin"></i>
            </a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

      <div class="col-sm-auto">
        <!-- List -->
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            <a class="link-sm link-secondary" href="#">Politique de confidentialité</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-secondary" href="#">Termes et conditions</a>
          </li>
        </ul>
        <!-- End List -->
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
