<header id="header" class="navbar navbar-expand-lg navbar-end navbar-light navbar-ti">
  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="{{ path('homepage') }}" aria-label="Front">
        <img class="navbar-brand-logo" src="/img/logo-travailleur-independant.png" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('freelance_index') }}">Freelances</a>
          </li>

          <!-- Dropdown -->
          <li class="hs-has-sub-menu nav-item">
              <a id="listingsDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Activités</a>
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'activites-diverses'}) }}">Activités diverses</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'alimentation-producteurs'}) }}">Alimentation & Producteurs</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'arts-creatifs-audiovisuel'}) }}">Arts créatifs & Audiovisuel</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'travaux-administratifs'}) }}">Assistance administrative</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'bricolage-petits-travaux'}) }}">Bricolage & Petits travaux</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'conciergerie-services-a-domicile'}) }}">Conciergerie & Services à domicile</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'courses-livraison'}) }}">Courses & Livraison</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'jardinage-espaces-verts'}) }}">Jardinage & Espaces verts</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'marketing-communication'}) }}">Marketing & Communication</a>
                  <a class="dropdown-item" href="{{ path('activity_show', {'slug': 'numerique-high-tech'}) }}">Numérique & High-Tech</a>
              </div>
          </li>
          <!-- End Dropdown -->


          <!-- Dropdown -->
          <li class="hs-has-sub-menu nav-item">
            <a id="pagesDropdown" class="hs-mega-menu-invoker nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Le Mag</a>
            <div class="hs-sub-menu dropdown-menu" aria-labelledby="listingsDropdown" style="min-width: 14rem;">
              <a class="dropdown-item" href="#">Lien 1</a>
              <a class="dropdown-item" href="#">Lien 2</a>
              <a class="dropdown-item" href="#">Lien 3</a>
              <a class="dropdown-item" href="#">Lien 4</a>
            </div>
          </li>
          <!-- End Dropdown -->

          <li class="nav-item">
            <a class="btn btn-primary btn-transition" href="{{ path('inscription') }}">Inscription</a>
          </li>
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
