<form method="post" action="{{ path('admin_worker_delete', {'id': worker.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ worker.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>
