{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.owner) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.activity) }}
    </div>
    <div class="col-12">
        {{ form_row(form.name) }}
    </div>
</div>
<div class="row my-3">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        {{ form_row(form.sap) }}
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        {{ form_row(form.itinerant) }}
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        {{ form_row(form.mobility) }}
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        {{ form_row(form.telework) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.contentDescription) }}
    </div>
    <div class="col-12">
        {{ form_row(form.metaDescription) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.contactPhone) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.contactEmail) }}
    </div>
    <div class="col-12">
        {{ form_row(form.contactWebsite) }}
    </div>
    <div class="col-12 col-lg-6">
        {{ form_row(form.address) }}
    </div>
    <div class="col-12 col-sm-6 col-lg-2">
        {{ form_row(form.addressZipcode) }}
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        {{ form_row(form.addressCity) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lat) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lng) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialFacebook) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialGoogle) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialInstagram) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialLinkedin) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialPinterest) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.socialTwitter) }}
    </div>
    <div class="col-12 text-end">
        <button class="btn btn-success">{{ button_label|default('Enregistrer le freelance') }}</button>
    </div>
</div>
{{ form_end(form) }}
