{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    {{ include('admin/worker/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('admin_worker_index') }}">retour</a>

    {{ include('admin/worker/_delete_form.html.twig') }}
{% endblock %}
