{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<section class="admin-heading my-5">
    <div class="container d-flex flex-md-row justify-content-between align-items-center">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-primary" href="{{ path('admin_worker_new') }}">Nouveau freelance</a>
    </div>
</section>
<section class="admin-main">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Activité</th>
                    <th>Itinerant</th>
                    <th>Mobility</th>
                    <th>Telework</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.name }}</td>
                    <td>{{ worker.activity }}</td>
                    <td>{{ worker.itinerant ? 'Yes' : 'No' }}</td>
                    <td>{{ worker.mobility ? 'Yes' : 'No' }}</td>
                    <td>{{ worker.telework ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('admin_worker_show', {'id': worker.id}) }}">show</a>
                        <a href="{{ path('admin_worker_edit', {'id': worker.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
