{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<section class="admin-heading my-5">
    <div class="container d-flex flex-md-row justify-content-between align-items-center">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-primary" href="{{ path('admin_worker_index') }}">Retour</a>
    </div>
</section>
<section class="admin-main">
    <div class="container">
        {{ include('admin/worker/_form.html.twig') }}
    </div>
</section>
{% endblock %}
