{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ worker.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ worker.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ worker.slug }}</td>
            </tr>
            <tr>
                <th>Itinerant</th>
                <td>{{ worker.itinerant ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Mobility</th>
                <td>{{ worker.mobility ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Telework</th>
                <td>{{ worker.telework ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ worker.updatedAt ? worker.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ worker.createdAt ? worker.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_worker_index') }}">retour</a>

      <a class="btn btn-primary" href="{{ path('admin_worker_edit', {'id': worker.id}) }}">Éditer ce freelance</a>

    {{ include('admin/worker/_delete_form.html.twig') }}
{% endblock %}
