{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Activité</th>
                <th class="text-start">Description</th>
                <th class="text-end"></th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td class="text-start">{{ job.name }}</td>
                <td class="text-start">{{ job.activity }}</td>
                <td class="text-start">{{ job.metaDescription }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_job_show', {'id': job.id}) }}"><i class="bi bi-eye-fill me-3"></i></a>
                    <a href="{{ path('admin_job_edit', {'id': job.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_job_new') }}">Nouveau métier</a>
{% endblock %}
