{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    {{ include('admin/job/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('admin_job_index') }}">retour</a>
{% endblock %}
