{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ job.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ job.slug }}</td>
            </tr>
            <tr>
                <th>MetaDescription</th>
                <td>{{ job.metaDescription }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ job.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_job_index') }}">retour</a>

    <a class="btn btn-primary" href="{{ path('admin_job_edit', {'id': job.id}) }}">Éditer le métier</a>

    {{ include('admin/job/_delete_form.html.twig') }}
{% endblock %}
