{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    {{ include('admin/activity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_activity_index') }}">back to list</a>

    {{ include('admin/activity/_delete_form.html.twig') }}
{% endblock %}
