{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Nom</th>
                <th class="text-start">Slug</th>
                <th class="text-start">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td class="text-start">{{ activity.name }}</td>
                <td class="text-start">{{ activity.slug }}</td>
                <td class="text-start">{{ activity.metaDescription }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_activity_show', {'id': activity.id}) }}"><i class="bi bi-eye-fill me-3"></i></a>
                    <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_activity_new') }}">Create new</a>
{% endblock %}
