{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    {{ include('admin/activity/_form.html.twig') }}

    <a href="{{ path('admin_activity_index') }}">back to list</a>
{% endblock %}
