{% extends 'admin.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ activity.slug }}</td>
            </tr>
            <tr>
                <th>MetaDescription</th>
                <td>{{ activity.metaDescription }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ activity.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ activity.updatedAt ? activity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_activity_index') }}">back to list</a>

    <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}">edit</a>

    {{ include('admin/activity/_delete_form.html.twig') }}
{% endblock %}
