/*------------------------------------
  File for your custom SCSS style
------------------------------------*/
body {
    font-weight: 300;
}
.text-highlight-warning {
    background-image: linear-gradient(to bottom, rgba(253, 206, 3, 0.75), rgba(253, 206, 3, 0.75));
}
.navbar-ti .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}
.help-text {
  margin: 0.5rem 0.5rem 1.25rem;
}
textarea#worker_metaDescription {
    height: 6rem;
}
.form-control#jobTitleForm,
.form-control#cityForm {
  font-size: 0.9rem;
    font-weight: 200;
}
#freelances h1 {
    line-height: 3.4rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.tile-span {
    font-size: 3.4rem;
    font-weight: 700;
}
#search_form_jobTitle, #search_form_city {
    font-size: 0.9rem;
    font-weight: 300;
}
