{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<section class="page-heading my-5">
    <div class="container">
        <h1>{{ page_name }}</h1>
    </div>
</section>
<section class="page-content">
    content
</section>
{% endblock %}
