{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<section class="page-heading my-5">
    <div class="container">
        <h1>{{ page_name }}</h1>
    </div>
</section>
<section class="page-content">
    <div class="container">
        <div class="row">
        {% for activity in activities %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ activity.name }}</h2>
                        <div>
                            {{ activity.slug }}<br>
                            {{ activity.metaDescription }}
                        </div>
                        <div>
                            <a href="{{ path('activity_show', {'slug': activity.slug}) }}"><i class="bi bi-eye-fill me-3"></i></a>
                            <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">no records found</div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
