{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{{ page_description }}{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>{{ page_name }}</h1>
</div>
<div class="container">
    <div class="row">
    {% for post in posts %}
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    {{ post.id }}<br>
                    {{ post.title }}<br>
                    {{ post.slug }}<br>
                    {{ post.description }}<br>
                    {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}<br>
                    <a href="{{ path('article', {'slug': post.slug}) }}">show</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <p>no records found</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
