{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container mb-5">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{ page_name }}</h1>

    {{ form_start(RegisterWorkerForm) }}
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.firstname) }}
            {{ form_label(RegisterWorkerForm.firstname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.lastname) }}
            {{ form_label(RegisterWorkerForm.lastname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.legalStatus) }}
            {{ form_label(RegisterWorkerForm.legalStatus) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.phone) }}
            {{ form_label(RegisterWorkerForm.phone) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.email) }}
            {{ form_label(RegisterWorkerForm.email) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.password.first) }}
            {{ form_label(RegisterWorkerForm.password.first) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.password.second) }}
            {{ form_label(RegisterWorkerForm.password.second) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(RegisterWorkerForm.agreeTerms) }}
            {{ form_label(RegisterWorkerForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-primary">je m'inscris</button>
    {{ form_end(RegisterWorkerForm) }}
</div>
{% endblock %}
