{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container">
        <h1>{{ page_name }}</h1>
    </div>
</div>
{% endblock %}
