{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{{ page_description }}{% endblock %}

{% block body %}
<div id="freelances">
    <section class="position-relative gradient-x-three-sm-primary rounded-2 content-space-t-md-1 content-space-b-md-2 mx-md-10">
      <div class="container position-relative content-space-t-2 content-space-t-lg-3 content-space-b-1">
        <div class="row position-relative zi-2">
          <div class="col-lg-8">
            <!-- Heading -->
            <div class="w-lg-75 text-center text-lg-start mb-5 mb-lg-7">
              <h1>Trouvez <br><span class="text-primary text-highlight-warning tile-span">des freelances</span> <br>près de chez vous</h1>
            </div>
            <!-- End Heading -->

            {{ form_start(searchForm, {'action': path('freelance_index')}) }}
              <!-- Input Card -->
              <div class="input-card input-card-sm">
                <div class="input-card-form">
                  {{ form_label(searchForm.jobTitle) }}
                  <div class="input-group input-group-merge">
                    <span class="input-group-prepend input-group-text">
                      <i class="bi-search"></i>
                    </span>
                    {{ form_widget(searchForm.jobTitle) }}
                  </div>
                </div>

                <div class="input-card-form">
                  {{ form_label(searchForm.city) }}
                  <div class="input-group input-group-merge">
                    <span class="input-group-prepend input-group-text">
                      <i class="bi-geo-alt"></i>
                    </span>
                    {{ form_widget(searchForm.city) }}
                  </div>
                </div>
                <button type="submit" class="btn btn-danger">Chercher</button>
              </div>
              <!-- End Input Card -->
            {{ form_end(searchForm) }}

            <p class="form-text">Search through over {{ workers|length }} listings</p>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="d-none d-lg-block col-lg-6 position-lg-absolute top-0 end-0">
          <img class="img-fluid rounded-2" src="/img/900x900/img23.jpg" alt="Image Description">

          <!-- SVG Shape -->
          <div class="position-absolute top-0 start-0 zi-n1 mt-n6 ms-n7" style="width: 10rem;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 335.2 335.2" width="100" height="100">
              <circle fill="#fdce03" opacity="1" cx="167.6" cy="167.6" r="130.1"/>
            </svg>
          </div>
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <div class="position-absolute bottom-0 end-0 zi-n1 mb-n6 me-n10" style="width: 10rem;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 335.2 335.2" width="120" height="120">
              <circle fill="none" stroke="#27adc1" stroke-width="75" cx="167.6" cy="167.6" r="130.1"/>
            </svg>
          </div>
          <!-- End SVG Shape -->

          <p class="form-text">Powered by <a href="#">keblo.dev</a></p>
        </div>
      </div>
    </section>
    <section>
        <div class="container content-space-2 content-space-lg-3">
            <div id="workers-result" class="row gx-3 mb-5">
                {% if workers|length == 0 %}
                <div class="col-12 text-center">
                    Aucun résultat correspondant à votre recherche n'a été trouvé. Vous devriez peut-être modifier vos critères de recherche.
                </div>
                {% else %}
                {% for worker in workers %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card card-transition h-100">
                        <div class="card-body">
                            <div class="avatar avatar-lg avatar-circle mb-4">
                                <img class="avatar-img" src="/img/160x160/img7.jpg" alt="Image Description">
                            </div>
                            <span class="card-subtitle">{{ worker.activity }}</span>
                            <h4 class="card-title">{{ worker.name }}</h4>
                            <div>{{ worker.contentDescription|raw }}</div>
                            <div>
                                <span>{{ worker.itinerant ? 'Yes' : 'No' }}</span>
                                <span>{{ worker.mobility ? 'Yes' : 'No' }}</span>
                                <span>{{ worker.telework ? 'Yes' : 'No' }}</span>
                            </div>
                            <div>
                                <a href="{{ path('freelance_show', {'slug': worker.slug}) }}">show</a> | <a href="{{ path('admin_worker_edit', {'id': worker.id}) }}">edit</a>
                            </div>
                        </div>
                        <div class="card-footer pt-0">
                            <!-- Socials -->
                            <ul class="list-inline mb-0">
                                {% if worker.socialFacebook %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-facebook"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if worker.socialGoogle %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-google"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if worker.socialInstagram %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-instagram"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if worker.socialLinkedin %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-linkedin"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if worker.socialPinterest %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-pinterest"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if worker.socialTwitter %}
                                <li class="list-inline-item">
                                    <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                        <i class="bi-twitter"></i>
                                    </a>
                                </li>
                                {% endif %}
                          </ul>
                          <!-- End Socials -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!-- Card Info -->
            <div class="text-center">
              <div class="card card-info-link card-sm">
                <div class="card-body">
                {% if prevPage is not null %}
<a href="{{ path('freelance_index', {'page': prevPage}) }}" class="pagination-link">Page précédente</a>
{% endif %}

{% if nextPage is not null %}
<a href="{{ path('freelance_index', {'page': nextPage}) }}" class="pagination-link">Page suivante</a>
{% endif %}
                </div>
              </div>
            </div>
            <!-- End Card Info -->
        </div>
    </section>
{% endblock %}
