{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.firstname) }}
            {{ form_label(registrationForm.firstname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.lastname) }}
            {{ form_label(registrationForm.lastname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.phone) }}
            {{ form_label(registrationForm.phone) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.email) }}
            {{ form_label(registrationForm.email) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.password.first) }}
            {{ form_label(registrationForm.password.first) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.password.second) }}
            {{ form_label(registrationForm.password.second) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-primary">je m'inscris</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
