<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">
        <meta name="description" content="{% block description %}{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_partials/_admin_header.html.twig' %}
        </header>
        <main>
            <div class="container mb-5">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            {% include '_partials/_footer.html.twig' %}
        </footer>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
